@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Black.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-LightItalic.ttf) format('truetype');
    font-weight: light;
    font-style: italic;
}
* {
    box-sizing: border-box;
    margin: 0px;
}
html {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.6rem;
}
p {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
}
figcaption {
    margin-top: 0.5rem
}
li,
a {
    font-size: 1.6rem;
}
.quote blockquote {
    font-family: 'Roboto', sans-serif ;
    font-weight: light;
    font-style: italic;
}
.logo {
    font-size: 2rem;
}
.quote blockquote, h2 {
    font-size: 36px; 
}

ul li,
ul.features li {
    list-style:none;
    margin: 0;
    padding: 0;
}

ul.features li:before {
    content: '✓ ';
}
button {
    border: none;
    padding: 10px 30px;
    margin-top: 10px;
    font-weight: bold;
}
button>a {
    font-size: 1.2rem;
}

button, 
.cta {
    background-color: #3882f6;
    border-radius: 10px;
}
.header, 
.hero,
footer, 
.page-intro {
    background-color: #1f2937;
}
.quote {
    background-color: #E5E7EB;
}
.nav a, 
.hero p , 
footer p, 
.cta p{
    color: #E5E7EB;
}
.logo, 
.hero h1, 
button a, 
.cta h3, 
.page-intro {
    color: #F9faf8;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 10rem;
}
.nav ul{
    display: flex;
    justify-content: space-between;
}
    .nav li{
        margin-left: 10px; 
    }    
.hero, 
.contact-container  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6rem 10rem 6rem 10rem;
}
.contact {
    min-height: 50vh;
}
.hero-main, 
.contact-main {
    width: 500px;
}
    aside img, 
    .contact-container img  {
        width: 500px;
        height:225px;
        margin-left: 2rem;
    }
    .logo, 
    .nav a, 
    button a {
        text-decoration: none;
    }
.services h2, 
.contact h2, 
.packages h2 {
    margin: 40px 0;
    text-align: center;
}
.services-container {
    display: flex;
    justify-content: center;
}
    .container-item {
        width: 150px;
        text-align: center;
        margin: 0px 20px 50px 20px;
    }

    .container-item img {
        width: 150px;
        border-radius: 5px;
    }
.quote {
    padding: 120px 250px 70px 250px;
}
    .quote cite {
        text-align: end;
        font-weight: bold;
        display: block;
    }
.cta {
    display: flex;
    height: 120px;
    justify-content: space-around;
    align-items: center;
    margin: 50px 200px;
    padding: 5rem 1rem;
}
    .cta button {
        border: 2px solid #F9faf8
    }

.page-intro {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 150px;
}
.packages-container {
    display: flex;
    align-items: center;
    margin: 50px 40px 100px 40px;
}
    .package-item {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        background-color: #E5E7EB;
        margin: 20px;
        padding:30px;
        border-radius: 3px;
        text-align: center;
    }
    .package-item > * {
        flex: 1 1 100%;
        margin: 5px;
        line-height: 3;
        padding: 0;
    }
    
.contact-main p {
    padding: 5px;
}
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80px;
    text-align: center;
}