@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Black.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-LightItalic.ttf) format('truetype');
    font-weight: light;
    font-style: italic;
}
* {
    box-sizing: border-box;
    margin: 0px;
}
html {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
}
:root {
    --color-bg: #F9faf8;
    --color-bg-variant: #E5E7EB;
    --color-primary: #1f2937;
    --accent-color: #3882f6;
    --color-dark: #000;
}
h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 3rem;
    margin-bottom: 1rem;
}
h2 {
    font-size: 2.5rem;
    margin: 3rem;
    text-align: center;
}
h3 {
    font-size: 2rem;
}
p {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
}
a {
    text-decoration: none;
}
li,
a {
    font-size: 1.6rem;
}
figcaption {
    margin-top: 0.5rem;
    font-size: 1.2rem;
}
blockquote {
    font-family: 'Roboto', sans-serif ;
    text-align: center;
    font-weight: light;
    font-style: italic;
}
ul>li {
    list-style:none;
    margin: 0;
    padding: 0;
}
button {
    border: none;
    padding: 10px 30px;
    margin-top: 10px;
    border-radius: 10px;
    font-weight: bold;
    background-color: var(--accent-color);
}
button>a {
    font-size: 1.2rem;
    color: var(--color-bg)
}
button:hover {
    border: 3px solid var(--color-bg);
}

.logo {
    font-size: 2rem;
}
.header, 
.hero {
    background-color: var(--color-primary);
}
.nav a {
    margin-left: 1.4rem;
    color: var(--color-bg)
}
.nav a:hover {
    text-decoration: underline;
}
.nav ul{
    display: flex;
    justify-content: space-between;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 6rem;
}
.header a.logo {
    margin: 0;
    color: var(--color-bg)
}
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 6rem 6rem 6rem;
    box-shadow: 2px 4px 5px 2px rgb(58 58 58 / 30%);
    color: var(--color-bg);
}
.hero-main>button {
    margin-top: 1rem;
}
.hero-main {
    width: 100%;
}
.hero>aside>img {
    width: 500px;
    height: auto;
    margin-left: 2rem;
    box-shadow: 2px 4px 5px 2px rgb(58 58 58 / 30%);
}

.services-container {
    display: flex;
    justify-content: center;
}
.container-item {
    max-width: 200px;
    text-align: center;
    margin: 2rem 1.2rem 5rem 1.2rem;
}
.container-item img {
    width: 100%;
    border-radius: 5px;
}

.quote {
    background-color: var(--color-bg-variant);
    padding: 4rem 6rem;
    box-shadow: 2px 4px 5px 2px rgb(58 58 58 / 30%);
}
.quote>blockquote {
    font-size: 36px; 
}
.quote cite {
    text-align: end;
    font-weight: bold;
    display: block;
}

.cta {
    display: flex;
    min-height: 120px;
    justify-content: space-around;
    align-items: center;
    margin: 4rem 6rem;
    padding: 3rem;
    background-color: var(--accent-color);
    color: var(--color-bg);
    border-radius: 10px;
    border: 3px solid transparent;
}
.cta button {
    border: 2px solid #F9faf8;
}
.cta button:hover {
    border: 3px solid #F9faf8;
}

.page-intro {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 6rem;
    box-shadow: 2px 4px 5px 2px rgb(58 58 58 / 30%);
}
.packages-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 2rem 0;
    padding: 4rem 6rem;
    column-gap: 2rem;
}
.package-item {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    background-color: #E5E7EB;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 4px 5px 2px rgb(58 58 58 / 30%);
}
.package-item > * {
    flex: 1 1 100%;
    margin: 5px;
    line-height: 3;
    padding: 0;
}
ul.features li:before {
    content: '✓ ';
}

.contact {
    min-height: 50vh;
}
.contact-container  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 6rem 6rem 6rem;
    min-height: 52vh;
}
.contact-container img  {
    width: 500px;
    height: auto;
    box-shadow: 2px 4px 5px 2px rgb(58 58 58 / 30%);
}
.contact-main {
    width: 500px;
}
.contact-main p {
    padding: 5px;
}
.page-intro {
    background-color: var(--color-primary);
    color: var(--color-bg);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80px;
    text-align: center;
    background-color: var(--color-primary);
    color: var(--color-bg);
}

@media screen and (min-width: 2048px) {
    body {
        margin: 0 10%;
    }
    main {
        min-height: 80vh;
    }
}
@media screen and (max-width: 1024px) {
h1 {
    font-size: 2.5rem;
}
h2 {
    margin: 1rem 1.5rem;
}
p {
    font-size: 1.2rem;
}
a {
    font-size: 1.4rem;
}
.header {
    padding: 1rem 1.5rem;
}
.hero {
    flex-direction: column;
    align-items: flex-start;
}
.hero>aside>img {
    display: none;
}
.cta {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1.5rem;
}
.cta>button {
    margin-top: 1.5rem;
}
.packages-container {
    flex-direction: column;
    row-gap: 2rem;
    padding: 1rem 1.5rem;
}
.contact-container {
    padding: 1rem 1.5rem;
}
.contact-container img {
    width: 300px;
}
.page-intro {
    padding: 1rem 1.5rem;
}
.page-intro>h1 {
    text-align: center;
}
}
@media screen and (max-width: 600px) {
h1 {
    font-size: 2rem;
}
h2 {
    margin: 1.5rem;
}
a {
    font-size: 1.2rem;
}
a.logo {
    font-size: 1.5rem;
}
.nav ul {
    flex-direction: column;
}
.nav a {
    margin-left: 0.5rem;
}
a.active {
    display: none;
}
.hero {
    padding: 2rem;
}
.services-container {
    flex-wrap: wrap;
}
.container-item {
    max-width: 150px;
}
.quote {
    padding: 1rem 1.5rem;
}
.cta {
    margin: 2rem 0;
    border-radius: 0;
}
.contact-main {
    width: 100%;
}
.contact-container {
    flex-direction: column-reverse
}
.contact-container img {
    margin-bottom: 1rem;
}
.contact-container p {
    text-align: center;
    width:100%;
}
}